<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scan Flow Pipe Rack Label</ion-title>
    <ion-buttons  slot="start">
      <ion-button color="light" icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons  slot="end">
      <ion-button color="light">Plant: {{q.plant}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Target Workshop</ion-label>
      <ion-select #selectworkshop interface="action-sheet" name="workshop" [(ngModel)]="q.workshop" placeholder="Please choose workshop">
        <ion-select-option *ngFor="let t of workshopList" value="{{t.value}}">{{t.text}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <form (submit)="scanBox()" *ngIf="q.workshop">
    <ion-searchbar #searchbar placeholder="{{barTextHolderText}}" [(ngModel)]="q.label" name="scan"></ion-searchbar>
  </form>

  <ion-list #flowtubeList >
    <ion-item-group *ngFor="let item of data" >
      <ion-item-sliding #slidingItem  [attr.track]="'3'">
        <ion-item>
          <ion-label>
            <h3>card no:{{item.card_code}}</h3>
            <p>
              part no:<b>{{item.part_code}}</b>; packing qty:{{item.packing_qty}}; pack count: <b>{{item.pack_count}}</b>; uloc:{{item.uloc}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="removeData(item)">
            remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <div>
    <!-- <div class="ds-box" *ngFor="let p of q.parts; let i = index">
      <h4><ion-icon name="checkmark-circle-outline" style="color:green" *ngIf="i==0"></ion-icon> 零件：{{p.part_no}} {{p.part_name}}</h4>
      <h5><ion-icon name="contact"></ion-icon> {{p.supplier_name}}</h5>
      <p>当前库存{{p.current_boxes}}箱，共{{p.current_parts}}件（包装数{{p.std_qty}}）</p>
      <button ion-button item-end (click)="changeQty(p)" [color]="p.require_parts%p.std_qty>0?'danger':'primary'">
        出库{{p.require_boxes}}箱，共{{p.require_parts}}件
      </button>
    </div> -->
  </div>
  <ul class="alert-message">
    <li *ngFor="let e of errors" [ngClass]="{'danger': e.type===0, 'info': e.type===1, 'success': e.type===2}">
      {{e.time|date:'mm:ss'}}&nbsp;{{e.message}}
    </li>
  </ul>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <ion-button no-margin expand='full' size='large' color="light" (click)="reset()">Reset(F2)</ion-button>
    </ion-col>
    <ion-col no-padding>
      <ion-button no-margin expand='full' size='large' color="primary" [disabled]="!data.length" (click)="submit()">Submit(F1)</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
