<ion-header>

  <ion-toolbar color="primary">
    <ion-title>首页 <small>{{username}}</small></ion-title>
    <ion-buttons  slot="end">
 
      <ion-button icon-only (click)="logout()" color="primary" fill="solid">
        <ion-icon name="ios-power">登出</ion-icon>
      </ion-button>
      <ion-button icon-only (click)="goSetting()" color="primary" fill="solid">
        <ion-icon name="ios-settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-row *ngFor="let rowList of getRowListByGridList(2)">
      <ion-col *ngFor="let item of rowList">
        <button (click)="openItem(item)">
          <p><ion-icon name="{{item.image_url}}" size="large"></ion-icon></p>
          <p *ngIf="item.link_url">{{item.menu_name}}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer >
  <ion-toolbar text-center>
    <ion-title>上汽通用五菱物流执行系统 &copy;2020&nbsp;V{{version}}</ion-title>
  </ion-toolbar>  
</ion-footer>
