<ion-header>

  <ion-navbar color="primary">
    <ion-title>首页 <small>{{username}}</small></ion-title>
    <ion-buttons end>
      <button ion-button icon-only hidden (click)="logout()">
        <ion-icon name="ios-power"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goSetting()">
        <ion-icon name="ios-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-row *ngFor="let rowList of getRowListByGridList(2)">
      <ion-col *ngFor="let item of rowList">
        <button (click)="openItem(item)">
          <p><ion-icon name="{{item.image_url}}" class="ion-icon-big"></ion-icon></p>
          <p *ngIf="item.link_url">{{item.menu_name}}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-label text-center>上汽通用五菱河西物流执行系统 &copy;2019&nbsp;V{{version}}</ion-label>
</ion-footer>
